@import '/src/Color/Color.scss';

#posting-wrap {
    margin:40px auto;
    width:65vw;
    height:80vh;
}

#guide-text {
    line-height: 30px;
    font-weight: 600;
}

#writing {
    font-size:20px;
    font-weight: 600;
}

#input-wrap {
    margin-top:10px;
}