@import '/src/Color/Color.scss';

.list {
    background-color: white;
    border-radius:10px;
    width:400px;
    height:35vh;
    margin-left:10px;
    font-size:18px;
    cursor:pointer;
}
#content {
    margin:0px 14vw 0px 10vw;
    top:154px;
}
.detail {
    padding:13px 0px 0px 18px;
}
.inner {
    padding-top:5px;
    padding-left:5px;
    width:300px;
}
.slick-prev::before {
    opacity: 0;
    display: none;
}
.tag {
    padding-top:10px;
    color:blue;
}
#waiting {
    margin-bottom:10px;
}
.title {
    font-weight:900;
}
.gray {
    color:#9F9F9F;
}
.bold {
    font-weight: 600;
}
.under {
    margin-top:70px;
}