/* IntroduceWeb */

#introduce-about-proteen{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    top: 35%;
    font-size: 40px;
    font-weight: 600;
    user-select: none;
}

#introduce-about-paragraph{
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 740px;
    font-size: 25px;
    top: 50%;
    user-select: none;
}