$main-blue: #46BEFF;
$community-blue: #D2ECFF;
$main-light-blue: #D4F0FF;
$main-gray: #E8E6E6;
$main-light-gray: #F4F3F3;
$main-dark-gray: #C4C6C8;
$red: #FF5F5F;
$orange: #F38548;
$blue: #1F89FF;
$yellow: #FFF500;
$yellow-green: #ADFF00;