@import '/src/Color/Color.scss';

#float-post {
    width:100vw;
    height: 376px;
    background-color:$community-blue;
    border-bottom: 10px solid $community-gray;
}

#ment {
    margin-left:165px;
    padding-top:24px;
    font-size:24px;
    font-weight: 600;
}

.postList {
    justify-content:space-between;
    z-index: 1;
}

.postList img {
    padding:13px 0px 0px 24px;
}

.sum {
    color:purple;
}

.detail {
    border-radius: 10px;
    margin:8px 17px 0px 0px;
    width:342px;
    height: 277px;
    background-color:white;
    cursor:pointer;
}

//bottom list
.post-list {
    background-color:white;
}

.list {
    border-radius: 10px;
    margin:8px 17px 0px 0px;
    width:1120px;
    height: 340px;
    box-shadow:2px 2px 2px;
    background-color:white;
    cursor:pointer;
}