@import '/src/Color/Color.scss';

#introduce-function {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    user-select: none;
}

#introduce-functions-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35%;
    height: 200px;
    user-select: none;

    > div {
        height: inherit;
        width: 180px;
        background-color: $main-light-gray;
        border-radius: 30px;
        margin: 0 10px;
        overflow: hidden;

        > div {
            height: inherit;
            transition: 0.4s;
            
            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: inherit;
                &:first-child{
                    display: flex;
                    flex-direction: column;
                    font-size: 1.4rem;
                    >img{
                        width: 50px;
                        margin-bottom: 15px;
                    }
                }
            }
            &:hover{
                transform: translateY(-100%);
            }
        }
    }
}