/* IntroduceFunction */

#introduce-function-h3 {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    user-select: none;
}

#functions-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
    height: 200px;
    user-select: none;

    .function {
        height: inherit;
        width: 180px;
        background-color: #f2f2f2;
        border-radius: 30px;
        margin: 0 40px;
        overflow: hidden;

        .wrap-function {
            height: inherit;
            transition: 0.4s;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: inherit;
            }
            div:first-child{
                font-size: 1.5rem;
            }
        }

        .wrap-function:hover {
            transform: translateY(-100%);
        }
    }
}