@import '../../Color/Color.scss';

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100vw;
    border-bottom:3px solid $main-blue  ;
    
    #header-wrap{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: inherit;
        margin-left: 80px;

        #header-logo{

            img{
                width: 200px;
            }
        }
        li{
            cursor: pointer;
            margin: 0 15px;
            text-align: center;
            font-size:20px;
            font-weight: 400;
        }
    }
    #header-login-signup {
        display: flex;
        margin-right: 25px;

        li{
            cursor: pointer;
            margin: 0 15px;
            text-align: center;
            font-size:20px;
            font-weight: 400;
            border:2px solid $main-gray;
            padding: 4px;
            &:first-child{
                background-color: $main-gray;
                border-radius: 5px;
            }
            &:last-child{
                background-color: $main-light-blue;
                border-radius: 5px;
            }
        }
    }
    #header-notice-profile{
        li{
            cursor: pointer;
            margin: 0 15px;
        }
    }
}