@import '/src/Color/Color.scss';

#profile-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 900px;
    #profile {
        margin-bottom: 40px;

        #user-information {
            height: 60px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            > div {
                display: flex;
                align-items: center;

                > img {
                    width: 50px;
                }
                #user-name {
                    margin-left: 10px;
                    font-weight: 600;
                    > span {
                        color: $main-blue;
                    }
                }
                #user-id {

                }
            }
        }
        #teer-information {
            padding: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            #show-benefit {
                font-size: 17px;
                padding: 18px 0;
                border-bottom: 2px solid $main-dark-gray;
            }
            #options {
                margin-top: 18px;
                #about-information {
                    display: flex;
                    justify-content: space-between;

                    #about-proteen {
                        width: 410px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: space-between;
                        padding: 25px;
                        padding-right: 60px;
                        border-radius: 8px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                    #about-follower {
                        width: 430px;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        border-radius: 8px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                        div:nth-child(odd) {
                            width: 130px;
                            text-align: center;
                        }
                    }
                }
                #manage-information {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 18px;

                    div {
                        text-align: center;
                        min-width: 205px;
                        box-sizing: border-box;
                        padding: 25px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 8px;
                    }
                }
            }
        }
    }
    #teer-benefit {
        #benefit-information {
            height: 500px;
            margin-top: 30px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            display: grid;
            grid-template-columns: min-content min-content;
            grid-template-rows: 300px 200px;

            #teers-info {
                grid-row: 1 / 3;
                padding: 25px;
                
                #teers {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 340px;
                    
                    > input { display: none; }

                    // label 기본 디자인
                    > label {
                        width: 60px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        display: flex;
                        justify-content: center;
                        border: 3px solid;
                        box-sizing: border-box;
                        padding: 15px;
                        font-weight: 900;


                        &:nth-child(2) {
                            border-color: $red;
                            color: $red;
                            height: 230px;
                        }
                        &:nth-child(4) {
                            border-color: $orange;
                            color: $orange;
                            height: 200px;
                        }
                        &:nth-child(6) {
                            border-color: $blue;
                            color: $blue;
                            height: 170px;
                        }
                        &:nth-child(8) {
                            border-color: $yellow;
                            color: $yellow;
                            height: 140px;
                        }
                        &:nth-child(10) {
                            border-color: $yellow-green;
                            color: $yellow-green;
                            height: 110px;
                        }
                    }

                    // 눌렸을 때 label 디자인
                    > input[type=radio]:checked + label {
                        &:nth-child(2) {
                            background-color: $red;
                            color: white;
                            height: 230px;

                            &#teer-explanations > fieldset:nth-child(1) { display: block; }
                        }
                        &:nth-child(4) {
                            background-color: $orange;
                            color: white;
                            height: 200px;
                        }
                        &:nth-child(6) {
                            background-color: $blue;
                            color: white;
                            height: 170px;
                        }
                        &:nth-child(8) {
                            background-color: $yellow;
                            color: white;
                            height: 140px;
                        }
                        &:nth-child(10) {
                            background-color: $yellow-green;
                            color: white;
                            height: 110px;
                        }
                    }
                }

                #teer-explanations {
                    // 선택되지 않았을 때 설명이 안 보이게 함
                    fieldset { display: none; }
                }
            }
        }
    }
}