@import '../../Color.scss';

#signup-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-light-blue;

    #signup-section {
        width: 853px;
        height: 548px;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 1.084fr 1.476fr; // 0.542, 0.738

        >div {
            background-color: white;
            overflow: hidden;
        }

        >div:first-child {
            border-radius: 25px 0 0 25px;
            border-right: 1px solid $main-dark-gray;

            #signup-contents {
                position: relative;
                top: 18%;
                left: 12%;

                #signup-division-line {
                    height: 1.5px;
                    width: 150px;
                    background-color: $main-dark-gray;
                    margin-bottom: 20px;
                }


                >h6,
                img,
                div {
                    margin-bottom: 8px;
                }

                >h6 {
                    font-size: 18px;
                }

                >img {
                    width: 250px;
                }
            }
        }

        >div:last-child {
            border-radius: 0 25px 25px 0;
            border-left: 1px solid $main-dark-gray;

            display: flex;
            align-items: center;
            justify-content: center;

            #signup-inputs {
                display: flex;
                flex-direction: column;
                width: 300px;

                input {
                    border-radius: 8px;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    >div {
                        margin-bottom: 20px;

                        >input {
                            background-color: $main-light-gray;
                            box-sizing: border-box;
                            margin-top: 15px;
                            padding: 12px;
                            width: 100%;
                        }
                    }

                    #terms {
                        display: flex;
                        flex-direction: column;

                        >label {
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            color: $main-dark-gray;
                        }

                        #signup-checkbox-division-line {
                            height: 1.5px;
                            width: 100%;
                            background-color: $main-gray;
                            margin: 10px 0;
                        }
                    }

                    >input {
                        height: 38px;
                        background-color: $main-blue;
                        color: white;
                    }

                }
            }
        }
    }
}