@import '../../Color.scss';

#login-signup-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-light-blue;

    #login-signup-section {
        width: 853px;
        height: 548px;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 1.084fr 1.476fr; // 0.542, 0.738

        >div {
            background-color: white;
            overflow: hidden;
        }

        >div:first-child {
            border-radius: 25px 0 0 25px;
            border-right: 1px solid $main-dark-gray;

            #login-signup-contents {
                position: relative;
                top: 18%;
                left: 12%;

                #login-signup-line {
                    height: 1.5px;
                    width: 150px;
                    background-color: $main-dark-gray;
                    margin-bottom: 20px;
                }


                >h6,
                img,
                div {
                    margin-bottom: 8px;
                }

                >h6 {
                    font-size: 18px;
                }

                >img {
                    width: 250px;
                }
            }
        }
    }
}