@import '/src/Color/Color.scss';

#category {
    margin:4vh 10vw 0px 10.7vw;
    text-align: center;
}
.filter {
    background-color:red;
    margin-right: 10px;
    border:black solid 1px;
    border-radius:15px;
    width:200px;
    padding:10px 10px 10px 10px;
    font-size:24px;
    cursor:pointer;
}
.text {
    // margin:6px;
    color:#888888;
}
.radio-hide {
    display:none;
}